page-home {
  .progress {
    color: map-get($colors, 'dark');
  }

  .training {
    background: linear-gradient(map-get($colors, 'primary'), map-get($colors, 'tertiary'));
    color: map-get($colors, 'white-color');
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 100%;

    ion-item-sliding {
      background-color: map-get($colors, 'color-white');
      border-radius: 30px;
      margin-bottom: 10px;

      .done {
        h2 {
          font-weight: bold;
          color: map-get($colors, 'tertiary');
        }
      }

      h2 {
        color: map-get($colors, 'dark');
      }
    }
  }
}
