<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ learner.name }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Cancelar</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide *ngFor="let train of trains">
      <h2>{{ train.date | date: 'EEEE' | uppercase }}</h2>
      <div *ngIf="!train.idTrain">
        <p>Nenhum treino criado para esse dia.</p>
        <button ion-button outline round (click)="createTrain(train.date)">Criar agora</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
