page-modal {
  ion-slide {
    background: linear-gradient(map-get($colors, 'primary'), darken(map-get($colors, 'tertiary'), 3));
    color: map-get($colors, 'white-color');

    button.button {
      color: map-get($colors, 'white-color');
      border-color: map-get($colors, 'white-color');
    }

    ion-item-sliding {
      border-radius: 30px;
      margin-bottom: 10px;

      a {
        font-size: 18px;
        color: map-get($colors, 'dark');
      }

      .done {
        h2 {
          font-weight: bold;
          color: map-get($colors, 'tertiary');
        }
      }
    }
  }

  .swiper-pagination-bullet-active {
    background-color: map-get($colors, 'white-color');
  }
}
