<div class="row">
  <div class="col-sm-3">
    <ul class="users-cards border border-secondary">
      <button (click)="createNewUser()" type="button" class="btn btn-primary btn-lg btn-block button-new-user">Novo Usuário</button>
    
      <li *ngFor="let user of Users" class="user">
        <app-user [ngClass]="{'selected': user == SelectedUser}" [selectedUser]="this.SelectedUser" [user]="user"
          (selectUser)="reciverFeedback($event)"></app-user>
      </li>
    
    </ul>
  </div>
  <div class="col-sm">
    <app-edit-user [user]="SelectedUser" class="edit-user"></app-edit-user>
  </div>
</div>