<div class="rodape">
  <h2>Entre em contato</h2>
  <i class="social-media-icon fab fa-instagram" data-toggle="tooltip" data-placement="bottom" title="instagram.com/Springfit"></i>
  <i class="social-media-icon fab fa-twitter-square" data-toggle="tooltip" data-placement="bottom" title="twitter.com/Springfit"></i>
  <i class="social-media-icon fab fa-facebook-square" data-toggle="tooltip" data-placement="bottom" title="fb.com/Springfit"></i>
  <p class="copyright">Copyright© Springfit. Todos os direitos reservados.</p>
</div>