<div class="container downloads">
  <div class="row justify-content-md-center">
    
    <div class="col-1">
      <svg viewBox="0 0 25 150" xmlns="http://www.w3.org/2000/svg">
        <g>
          <title>Layer 1</title>
          <path stroke="null" id="svg_3" d="M0,150 L0,0 L300,0z" stroke-opacity="null" stroke-width="1.5" fill="#2b4c18" />
          <path stroke="null" id="svg_3" d="M0,150 L0,0 L250,0 L30,150z" stroke-opacity="null" stroke-width="1.5" fill="#64cb2b" />
      
          <!-- <text stroke="null" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="Junction, sans-serif"
            id="svg_4" y="70" x="20" stroke-opacity="null" fill="#ffffff">Baixe nosso app</text>
      
          <text font-weight="bold" xml:space="preserve" text-anchor="start" font-family="Junction, sans-serif" id="svg_5" y="90"
            x="20" stroke-opacity="null" stroke-width="25" fill="#ffffff">E desfrute de uma experiência completa</text> -->
        </g>
      </svg>
    </div>

    <div class="col content">
      <div class="download-links">
        <div class="download-link">
          <a href="#">
            <i class="fab fa-apple"></i>
            <p>Download on Apple Store</p>
          </a>
        </div>
        <div class="download-link">
          <a href="#">
            <i class="fab fa-google-play"></i>
            <p>Download on Google Play</p>
          </a>
        </div>
      </div>

      <div class="brand-caller">
        <p>Baixe nosso app</p>
        <p>Desfrute de uma experiência completa</p>
      </div>
    </div>
  </div>
</div>